.header {
	display: flex;
	align-items: center;
	width: 100%;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
	font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
	}
#headerRight {
	display: flex;
	width: 40%;
	align-items: center;
}
#headerLeft {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	margin-right: 3%;
}
.logo {
	margin-left: 3%;
}
.logoText {
	color: MediumAquamarine;
	margin-left: 2%;
}

}
nav a:hover {
  color: orange;
}
nav li {
	display: inline-block;
	margin-left: 30px;
	}